h2{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color :pink 
}

h2{
    text-align: center;
}
ul {
    padding: 10px;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
.header {
    text-align: center;
    background:
    background-size:cover
    padding:20px 0px 0px 0px;
}
